ul .ulCake{
    
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
 ul.ulCake .liCake{
    display: inline-block;
    padding: 10px;
  }
  
  #imgCake {
    width: 138px;
    height: 138px;
  }
  .redBorder{
    border: 2px solid red;
  }
  
  .boxCakes p{
    font-weight: bold;
    font-size: 1.1em;
    
  }

  .boxCakes{
      border: 1px solid #7A2828;
  }
  
  
  
  
  